<p id="notice"><%= notice %></p>

<h1>Listing My Lists</h1>
    
      </tr>
      
</table>

<table>
  <tr>
    <th></th>
    <th>Segunda</th>
    <th>Terça</th>
    <th>Quarta</th>
    <th>Quinta</th>
    <th>Sexta</th>
  </tr>
  <tr>
    <td>Café</td>
    <td><% a= MyList.where(semana:'segunda', periodo: 'cafe', user_id:current_user.id).take%>
    <%=a.query%>
    </td>
    
    <td><% a= MyList.where(semana:'terça', periodo: 'cafe', user_id:current_user.id).take%>
    </td>
    <td><% a= MyList.where(semana:'quarta', periodo: 'cafe', user_id:current_user.id).take%>
    </td>
    <td><% a= MyList.where(semana:'quinta', periodo: 'cafe', user_id:current_user.id).take%>
    </td>
    <td><% a= MyList.where(semana:'sexta', periodo: 'cafe', user_id:current_user.id).take%>
    </td>
  </tr>
  <tr>
    <td>Almoço</td>
   <td><% a= MyList.where(semana:'segunda', periodo: 'almoço', user_id:current_user.id).take%>
     
    </td>
    <td><% a= MyList.where(semana:'terça', periodo: 'almoço', user_id:current_user.id).take%>
    </td>
    <td><% a= MyList.where(semana:'quarta', periodo: 'almoço', user_id:current_user.id).take%>
    <%=if a.empty? # a.query else '' end%>
    </td>
    <td><% a= MyList.where(semana:'quinta', periodo: 'almoço', user_id:current_user.id).take%>
    </td>
    <td><% a= MyList.where(semana:'sexta', periodo: 'almoço', user_id:current_user.id).take%>
    </td>
  </tr>
  <tr>
    <td>Jantar</td>
    <td><% a= MyList.where(semana:'segunda', periodo: 'janta', user_id:current_user.id).take%>
      
    </td>
    <td><% a= MyList.where(semana:'terça', periodo: 'janta', user_id:current_user.id).take%>
    </td>
    <td><% a= MyList.where(semana:'quarta', periodo: 'janta', user_id:current_user.id).take%>
    </td>
    <td><% a= MyList.where(semana:'quinta', periodo: 'janta', user_id:current_user.id).take%>
    </td>
    <td><% a= MyList.where(semana:'sexta', periodo: 'janta', user_id:current_user.id).take%>
    </td>
  </tr>
</table>
<br><br><br><br><br><br><br>
</div>

<br>
      

  

<%= link_to 'New My list', new_my_list_path %>

