
<br><br><br><br><br><br><br><br>

<h1>Salvo com sucesso!</h1>

<h1><%= params[:periodo] %></h1><br>
<h1><%= params[:semana] %></h1><br>
<h1><%= params[:id_r] %></h1><br>
<%= link_to 'Back', home_index_path %>

<br><br><br><br><br><br><br><br><br><br><br><br><br>
